<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB51AECF1E9CEB8700FE887C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB51AEE81E9CEB8800FE887C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB51AEF31E9CEB8800FE887C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
